In [81]:
import pandas as pd
import numpy as np
 
data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
X = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
y = raw_df.values[1::2,2]

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\hp\AppData\Local\Temp\ipykernel_6644\2477648824.py:5: SyntaxWarning: invalid escape sequence '\s'
  raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)

In [3]:
raw_df

,0,1,2,3,4,5,6,7,8,9,10
0,0.00632,18.00,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3
1,396.90000,4.98,24.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.02731,0.00,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8
3,396.90000,9.14,21.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.02729,0.00,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8
...,...,...,...,...,...,...,...,...,...,...,...
1007,396.90000,5.64,23.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,0.10959,0.00,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0
1009,393.45000,6.48,22.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010,0.04741,0.00,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0
1011,396.90000,7.88,11.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
raw_df=raw_df.dropna()

In [9]:
raw_df

           0     1      2    3      4      5     6       7    8      9     10
0     0.00632  18.0   2.31  0.0  0.538  6.575  65.2  4.0900  1.0  296.0  15.3
2     0.02731   0.0   7.07  0.0  0.469  6.421  78.9  4.9671  2.0  242.0  17.8
4     0.02729   0.0   7.07  0.0  0.469  7.185  61.1  4.9671  2.0  242.0  17.8
6     0.03237   0.0   2.18  0.0  0.458  6.998  45.8  6.0622  3.0  222.0  18.7
8     0.06905   0.0   2.18  0.0  0.458  7.147  54.2  6.0622  3.0  222.0  18.7
...       ...   ...    ...  ...    ...    ...   ...     ...  ...    ...   ...
1002  0.06263   0.0  11.93  0.0  0.573  6.593  69.1  2.4786  1.0  273.0  21.0
1004  0.04527   0.0  11.93  0.0  0.573  6.120  76.7  2.2875  1.0  273.0  21.0
1006  0.06076   0.0  11.93  0.0  0.573  6.976  91.0  2.1675  1.0  273.0  21.0
1008  0.10959   0.0  11.93  0.0  0.573  6.794  89.3  2.3889  1.0  273.0  21.0
1010  0.04741   0.0  11.93  0.0  0.573  6.030  80.8  2.5050  1.0  273.0  21.0

[506 rows x 11 columns]

In [99]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.model_selection import train_test_split

## DETERMINING THE EFFECT COEFFICIENT OF DETERMINATION WHEN MORE TEATURES ARE ADDED IN A MODEL

In [119]:
column_0=X[:,0]
column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:20.336507771945854
Coefficient of Determination:71.97276079347643

In [123]:
column_0_1=X[:,[0,1]]
#column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:26.014089074479703
Coefficient of Determination:72.95771771532854

In [125]:
column_0_1_2=X[:,[0,1,2]]
#column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:23.70692119160639
Coefficient of Determination:71.53070159996761

In [127]:
column_0_1_2_3=X[:,[0,1,2,3]]
#column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:25.60224394381167
Coefficient of Determination:68.23478329317922

In [129]:
column_0_1_2_3_4=X[:,[0,1,2,3,4]]
#column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:26.467456954025828
Coefficient of Determination:66.81451544304981

In [131]:
column_0_1_2_3_4_5=X[:,[0,1,2,3,4,5]]
#column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:27.641147022306818
Coefficient of Determination:70.23153326741178

In [135]:
column_0_1_2_3_4_5_6=X[:,[0,1,2,3,4,5,6]]
#column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:29.688125210837555
Coefficient of Determination:61.83411084223105

In [139]:
column_0_1_2_3_4_5_6_7=X[:,[0,1,2,3,4,5,6,7]]
#column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:20.19667078622387
Coefficient of Determination:74.08710406734743

In [141]:
column_0_1_2_3_4_5_6_7_8=X[:,[0,1,2,3,4,5,6,7,8]]
#column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:23.39328426849585
Coefficient of Determination:74.0132303168691

In [147]:
column_0_1_2_3_4_5_6_7_8_9=X[:,[0,1,2,3,4,5,6,7,8,9]]
#column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:25.605411771051042
Coefficient of Determination:69.02028375523668

In [153]:
column_0_1_2_3_4_5_6_7_8_9_10=X[:,[0,1,2,3,4,5,6,7,8,9,10]]
#column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:16.992795476370247
Coefficient of Determination:79.65389433982547

In [151]:
column_0_1_2_3_4_5_6_7_8_9_10_11=X[:,[0,1,2,3,4,5,6,7,8,9,10,11]]
#column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:20.598806503432183
Coefficient of Determination:75.26232217488453

In [155]:
column_0_1_2_3_4_5_6_7_8_9_10_11_12=X[:,[0,1,2,3,4,5,6,7,8,9,10,11,12]]
#column1.reshape(-1,1)
boston_model= LinearRegression()
X_train,X_test,y_train,y_test=train_test_split(X,y)
boston_model.fit(X_train,y_train)
r2=boston_model.score(X_test,y_test)*100
y_pred=boston_model.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
print(f"MEan_Squared_Error:{mse}")
print(f"Coefficient of Determination:{r2}")

MEan_Squared_Error:20.989306673812614
Coefficient of Determination:75.01839013782548

In [162]:
column_0_1_2_3_4_5_6_7_8_9_10_11_12.shape

(506, 13)

In [164]:
y.shape

(506,)

In [168]:
import matplotlib.pyplot as plt
plt.scatter(column_0_1_2_3_4_5_6_7_8_9_10_11_12)

TypeError: scatter() missing 1 required positional argument: 'y'